.about {
  margin-top: 112px;
}

.about__first-text {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1666;
  letter-spacing: 0.05em;
  color: #fff;
}
